*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --primary-color: #912f56;
  --secondary-color: #5b242a;
  --background-color: #eaf2ef;
  --divider: #dddfe2;
}
body{
    background-color: var(--background-color);
}