[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"


[[redirects]]
  from = "http://jinashop.netlify.app/*"
  to = "https://jinashop.netlify.app/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
