*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --primary-color: #ef0200;
  --secondary-color: #121117;
  --background-color: #ffffff;
  --background-main-color: #f6f6f6;
  --grey-color: #999999;
  --blue-color: #2470bc;
  --divider: #dddfe2;
  --input-color: #1d2129;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-main-color);
  font-family: "Poppins", sans-serif !important;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
}

a.active {
  text-decoration: none;
}

hr {
  color: var(--divider);
  background-color: var(--divider);
  height: 2px;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
