#notFound{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#notFound img {
    width: 120px;
    height: 120px;
    margin-bottom: 50px;
}
#notFound p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-left: 30px;
    color: var(--input-color);
    text-transform: uppercase;
}

@media (max-width: 768px){
    #notFound {
    height: 600px; 
  }
  #notFound p{
 font-size: 14px;
 margin-left: 20px;
  }
}
