#product-container {
  width: 100vw;
  min-height: 100vh;
  padding: 20px 80px;
  background-color: var(--background-color);
}
.product-name h2 {
  color: var(--blue-color);
  font-weight: 500;
  text-transform: uppercase;
}
/*----------------------product-info--------------------*/
.product-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.carousel {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 12px;
}
.main-image {
  position: relative;
}
.bg-arrow {
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: var(--grey-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 30px;
  transition: background 0.2s ease;
}
.bg-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
  color: var(--background-color);
}
.bg-arrow.leftSide {
  left: 20px;
}
.bg-arrow.rightSide {
  right: 20px;
}
.main-image img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 6px;
}
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.thumb {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
.thumb img {
  width: 60px;         
  height: 60px;         
  object-fit: cover;
  border-radius: 4px;
  display: block; 
  aspect-ratio: 1 / 1;     
}

.thumb.active img {
  border: 2px solid var(--divider);
}

.details-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.product-desc {
  width: 60%;
  padding: 20px;
}
.product-desc p:first-child {
  color: var(--input-color);
  font-size: 14px;
}
.product-desc p:nth-child(2) {
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--input-color);
}
.purshase-container {
  background-color: var(--background-main-color);
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.number-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.number-control span {
  margin-right: 20px;
}

.number-left::before,
.number-right::after {
  content: attr(data-content);
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.number-left::before {
  content: "-";
}

.number-right::after {
  content: "+";
}

.number-quantity {
  padding: 0.25rem;
  border: 0;
  width: 50px;
  height: 30px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #666666;
}

/* !Notice:  brand-logo item-price in-stock in-order auth-alert and item actions from products.css */
.item-availability,
.item-quantity,
.item-reference {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.item-reference span {
  color: var(--blue-color);
  font-size: 14px;
}

.product-specifications{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.product-specifications h3{
  text-transform: uppercase;
}

.spec-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 100px;
}

.spec-table td {
  padding: 8px 12px;
  border-left: 1px solid var(--divider);
}

.spec-table tr:nth-child(odd) {
  background-color: var(--background-main-color); 
}

.spec-table tr:nth-child(even) {
  background-color: var(--background-color) ; 
}

.spec-key {
  font-weight: 600;
  font-size: 14px;
  width: 40%;
}
.spec-value{
  font-size: 14px;
}



/*-------------------- Responsive breakpoints-------------------------*/

@media (max-width: 1024px) {
  #product-container {
    padding: 20px;
  }
  .product-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .carousel {
    width: 90%;
  }
  .purshase-container {
    padding: 20px;
  }
  .spec-table {
  width: 100%;
  
}
}
@media (max-width: 480px) {
  #product-container {
    padding: 10px;
  }
  .bg-arrow.leftSide {
    left: -20px;
  }
  .bg-arrow.rightSide {
    right: -20px;
  }
  .details-container {
    flex-direction: column;
  }
  .product-desc {
    width: 100%;
  }
  .product-name h2 {
    font-size: 16px;
  }
}
