

.products-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0;
  gap: 30px;
  background-color: var(--background-main-color);
  position: relative;
}
.item-card {
  width: 70%;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  background-color: var(--background-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

/*----------------------item picture-------------*/
.item-picture-container {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}
.arrow:hover {
  background: rgba(0, 0, 0, 0.6);
}

/*-------------item-description----------------*/
.item-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  gap: 0;
}
.item-description h3 {
  cursor: pointer;
  color: var(--blue-color);
}
.item-description h3:hover {
  color: orangered;
}
.item-description p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--grey-color);
  margin-bottom: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

.item-description p:hover {
  color: var(--input-color);
}

/*------------------item status bar-------------------*/

.item-status-bar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.brand-logo {
  max-width: 100px;
  max-height: 70px;
}
.item-price {
  color: #f00 !important;
  font-size: 1.5rem;
  font-weight: 700;
}
.item-stock {
  font-size: 1.2rem;
}
.in-stock {
  color: #47bf20;
}
.on-order {
  color: orange;
}

.item-actions {
  display: flex;
  gap: 20px;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--background-main-color);
  border: 1px solid var(--divider);
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);
}

.icon-button:hover {
  background: var(--secondary-color);
}
.icon-button:hover i {
  color: var(--background-color);
}

.auth-alert,
.newPanelContainer {
  position: fixed;

  z-index: 1000;
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-alert {
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--grey-color);
  font-size: 14px;
}
.auth-alert span {
  position: absolute;
  right: 10px;
  color: var(--secondary-color);
  font-weight: 700;
  cursor: pointer;
}

/*-------------------------New Panel Item -----------------------*/
.cart-confirmation-panel {
  width: 40%;
  min-height: 60%;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 5px;
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 10px;
  background-color: var(--background-color);
}
.successCartMsg {
  font-size: 16px;
  color: var(--blue-color);
  letter-spacing: 1.5px;
  font-weight: 500;
}
.cart-confirmation-panel hr {
  width: 100%;
  border-top: 1px solid var(--divider);
}

.cart-product-details {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
}
.product-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 1px solid var(--divider);
}

.product-info-block {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  padding: 0;
}
.product-info-block h6 {
  margin: 0 !important;
  color: #222;
  font-size: 16px !important;
  margin-bottom: 12px;
  font-weight: 700 !important;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.cartItem-reference {
  font-size: 12px;
  color: var(--grey-color);
}
.cartItem-price {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
}
.cartItem-qty {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
}
.panel-length {
  font-size: 16px;
  letter-spacing: 1.5px;
}
.total-Panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.total-Panel p:first-child {
  color: var(--secondary-color);
  font-weight: 600;
}
.total-Panel p:nth-child(2) {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.confirm-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.confirm-buttons button {
  height: 40px;
  flex: 1;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.confirm-buttons button:first-of-type {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.confirm-buttons button:nth-child(2) {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.confirm-buttons button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}
.close-cart {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: var(--background-color);
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive breakpoints */
@media (max-width: 768px) {
  .item-card{
    flex-direction: column;
  }
  .item-picture-container{
    width: 100%;
  }
  .item-description{
    width: 100%;;
  }
  .item-status-bar{
    width: 100%;
    margin-bottom: 20px;
  }
  .cart-confirmation-panel {
    width: 95%;
    top: 20%;
    padding: 10px;
    height: auto;
  }

  .cart-product-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .product-image-wrapper {
    width: 100%;
    height: 200px;
  }

  .product-info-block {
    width: 100%;
    align-items: center;
  }

  .confirm-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .confirm-buttons button {
    width: 100%;
  }
}

@media (max-width: 480px) {
   .item-card{
    width: 90%;
  }
  .cart-confirmation-panel {
    font-size: 14px;
  }

  .product-info-block h6 {
    font-size: 14px !important;
  }

  .product-info-block p:nth-of-type(2) {
    font-size: 16px;
  }

  .cartItem-price {
    font-size: 16px;
  }

  .close-cart {
    font-size: 20px;
  }
}
