.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 6px;
  background-color: var(--background-main-color);
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  opacity: 0.6;
  z-index: 9999;
}

.scroll-to-top:hover {
    transform: scale(1.05);
  opacity: 1;
}
