.footer-container {
  width: 100%;
}
.newspaper {
  background-color: var(--background-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscribe {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
 
}
.subscribe i{
    color: var(--primary-color);
    font-size: 30px ;
    margin-right: 20px;
}

.news-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.news-form input,
.news-form button {
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  padding: 0 12px;
  font-size: 1rem;
  line-height: 1;
  border: 2px solid var(--divider);
}
.news-form input {
  border-right: none;
  border-radius: 6px 0 0 6px;
  width: 300px;
  background-color: var(--background-main-color);
}
.news-form input::placeholder {
  color: #999;
  opacity: 1;
  font-size: 12px;
}


.news-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 150px;
  border-radius: 0 6px 6px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
.news-form button:hover {
    background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.news-form button:active {
      transform: scale(0.95);
}

.footer {
  background-color: var(--secondary-color);
  color: var(--background-main-color);
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.copyright {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright hr {
  width: 80%;
  border: none;
  margin: 20px 0;
  border-top: 1px solid var(--grey-color);
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-container .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
.footer-social-icons a {
  color: var(--primary-color);
  font-size: 1.7em;
  padding-right: 30px;
}

input:-webkit-autofill {
  background-color: var(--background-main-color) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--background-main-color) inset;
  -webkit-text-fill-color: var(--input-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox */
input:-moz-autofill {
  background-color: var(--background-main-color) !important;
  color: var(--input-color) !important;
}
