*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --primary-color: #134e5e;
  --secondary-color: #0b3037;
  --background-color: #eaf2ef;
  --divider: #dddfe2;
}

.App {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  justify-items: stretch;
  width: 60vw;
  height: 80vh;
  gap: 0;
  background-color: var(--background-color);
  box-shadow: 0 0 10px;
}
/* ---------------Overlay container---------------*/
.overlay-container {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.overlay-container h1 {
  font-family: sans-serif;
}
.overlay-container button {
  background-color: transparent;
  border-radius: 10px;
  height: 40px;
  width: 20%;
  color: var(--background-color);
  border: 1px solid var(--background-color);
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: sans-serif;
  width: 60%;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 10px 0;
  cursor: pointer;
}
.overlay-container button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.overlay-container button:active {
  transform: scale(0.95);
}

/* ---------------- Container toggling---------------- */
.overlay-container,
.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease}

.login-active .overlay-container {
  transform: translateX(0);
}
.login-active .forms-container {
  transform: translateX(0);
}

.signup-active .overlay-container {
  transform: translateX(+100%);
}
.signup-active .forms-container {
  transform: translateX(-100%);
}


/* ---------------- Forms container---------------- */

.forms-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.signUp {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
 
}
.signIn {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

}



form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
p {
  letter-spacing: 0.5px;
}
.signIn a {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
}
.password-wrapper {
  position: relative;
  width: 80%;
}
.password-wrapper input {
  width: 100%;
}

.toggle-visibility {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-color);
}
.box {
  width: 80%;
  position: relative;
}
input {
  width: 100%;
  height: 40px;
  margin: 12px 0;
  padding: 12px 15px;
  background-color: var(--background-color);
  border-radius: 6px;
  border: 2px solid var(--divider);
  color: #1d2129;
  padding: 10px;
  margin-bottom: 20px;
}

label {
  position: absolute;
  left: 13px;
  top: 22px;
  font-size: 14px;
  padding: 0 5px;
  background-color: var(--background-color);
  color: #555;
  transition: transform 0.3s ease, color 0.3s ease;
}

.moved {
  transform: translateY(-20px);
  color: var(--primary-color);
}

input:hover {
  border: 2px solid var(--primary-color);
}
input:active {
  transform: scale(0.95);
  border-color: var(--secondary-color);
}
input:focus {
  border-color: var(--secondary-color);
  outline: none;
}
#google {
  display: flex;
  justify-content: space-between;
}
#hiddenButton {
  background-color: #2ebf91;
}
#hiddenAnchor {
  text-decoration: none;
}
#google i {
  font-size: 16px;
}

.personalDetails {
  width: 80%;
  display: flex;
  gap: 10px;
}
.personalDetails label i {
  font-size: 20px;
  color: var(--primary-color);
}

.signUp button,
.signIn button {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: sans-serif;
  width: 60%;
  height: 40px;
  border: 1px solid var(--primary-color);
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 45px;
  margin: 10px 0;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.signUp button:hover,
.signIn button:hover {
  background-color: var(--secondary-color);
}
.signUp button:active,
.signIn button:active {
  transform: scale(0.95);
}
.signUp button:focus,
.signIn button:focus {
  outline: none;
}
.divider {
  border: 1px solid var(--divider);
  margin: 20px 0;
  width: 80%;
}

.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.hidden {
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
}
#password-strength {
  color: red;
  font-size: 0.8em;
}
input::placeholder {
  font-size: 1em;
}
