*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --primary-color: #525333;
  --secondary-color: #cf8852;
  --background-color: #f5f2e7;
  --divider: #dddfe2;
  --input-color: #1d2129;
}

.App {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}