*,
*:after,
*:before {
  box-sizing: border-box;
}
:root {
  --primary-color: #ef0200;
  --secondary-color: #121117;
  --background-color: #ffffff;
  --background-main-color: #f6f6f6;
  --grey-color: #708090;
  --divider: #dddfe2;
  --input-color: #1d2129;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-main-color);
}


